In [35]:
#packages and library
import pandas as pd

# Removing Null values columns dataframe training

In [36]:
d1=pd.read_csv('training_data.csv')
d1.head()

/var/folders/c5/3sw9j_052v3bcylbyvj179m40000gn/T/ipykernel_12298/534827597.py:1: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  d1=pd.read_csv('training_data.csv')

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,P,0,0,I 0-6,1.0,581-600,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201807,B
1,0.0,P,0,0,I 0-6,1.0,721-740,NaN,159,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201906,C
2,1.0,T,0,0,I 7-12,1.0,761+,NaN,22,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201905,A
3,1.0,T,0,1,I 0-6,1.0,761+,NaN,16,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201806,B
4,1.0,P,0,0,A,0.0,721-740,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201902,B

In [37]:
d1.columns

Index(['financial_active', 'net_payment_behaviour_tripd', 'promotion_flag',
       'variable_rate_index', 'account_status_code', 'active_12_mths',
       'bank_fico_buckets_20', 'charge_off_reason_code', 'mob',
       'open_closed_flag', 'ever_delinquent_flg', 'nbr_mths_due',
       'variable_rate_margin', 'stmt_balance', 'prev_balance', 'net_sales',
       'net_payments', 'purchase_active', 'credit_limit_amt',
       'credit_limit_pa', 'closed', 'active', 'charge_off', 'charge_off_aged',
       'charge_off_bk', 'principal_amt', 'principal_amt_chrg_off',
       'total_writeoff_amt', 'fee_chg_off_reversal_amt', 'net_finance_charge',
       'non_principal_amount_gross', 'non_principal_amount_net',
       'non_principal_amount_stmt', 'aged_writeoff_amt',
       'bankruptcy_writeoff_amt', 'fc_reversals', 'fee_reversals',
       'fraud_writeoff_amt', 'other_writeoff_amt', 'promo_bal_amt',
       'recovery_amt', 'writeoff_type_bko', 'writeoff_type_fraud_kiting',
       'writeoff_type_fraud_synthetic', 'writeoff_type_deceased',
       'writeoff_type_other', 'writeoff_type_aged', 'writeoff_type_settlement',
       'writeoff_type_fraud_other', 'writeoff_type_repo', 'writeoff_type_null',
       'writeoff_date', 'due_account_2', 'due_account_3', 'due_account_4',
       'due_account_5', 'due_account_6', 'due_account_7', 'due_account_8',
       'due_balance_2', 'due_balance_3', 'due_balance_4', 'due_balance_5',
       'due_balance_6', 'due_balance_7', 'due_balance_8', 'snapshot',
       'mth_code', 'industry'],
      dtype='object')

In [38]:
d1.shape

(5758223, 69)

In [39]:
r=[]
for i in d1:
    if d1[i].isna().mean()<0.70:
        r.append(i)
        
    else:
        print(i,d1[i].isna().mean())

charge_off_reason_code 0.9999975686943697
variable_rate_margin 0.7308949306061957
writeoff_date 0.9948682084733432

In [40]:
d1=d1[r]

# Removing Null values columns dataframe testing (Forecasting)

In [45]:
#removing columns where more than 70% of the data is missing
d2=pd.read_csv('forecast_starting_data.csv')
d2.head()

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,T,0,0,I 0-6,1.0,761+,NaN,42,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,B
1,0.0,P,0,0,A,1.0,761+,NaN,48,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,B
2,0.0,C,0,0,I 0-6,0.0,761+,NaN,244,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,A
3,1.0,R,0,0,I 0-6,1.0,621-640,NaN,76,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,A
4,1.0,P,0,0,I 0-6,1.0,761+,NaN,143,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,C

In [46]:
d2.columns

Index(['financial_active', 'net_payment_behaviour_tripd', 'promotion_flag',
       'variable_rate_index', 'account_status_code', 'active_12_mths',
       'bank_fico_buckets_20', 'charge_off_reason_code', 'mob',
       'open_closed_flag', 'ever_delinquent_flg', 'nbr_mths_due',
       'variable_rate_margin', 'stmt_balance', 'prev_balance', 'net_sales',
       'net_payments', 'purchase_active', 'credit_limit_amt',
       'credit_limit_pa', 'closed', 'active', 'charge_off', 'charge_off_aged',
       'charge_off_bk', 'principal_amt', 'principal_amt_chrg_off',
       'total_writeoff_amt', 'fee_chg_off_reversal_amt', 'net_finance_charge',
       'non_principal_amount_gross', 'non_principal_amount_net',
       'non_principal_amount_stmt', 'aged_writeoff_amt',
       'bankruptcy_writeoff_amt', 'fc_reversals', 'fee_reversals',
       'fraud_writeoff_amt', 'other_writeoff_amt', 'promo_bal_amt',
       'recovery_amt', 'writeoff_type_bko', 'writeoff_type_fraud_kiting',
       'writeoff_type_fraud_synthetic', 'writeoff_type_deceased',
       'writeoff_type_other', 'writeoff_type_aged', 'writeoff_type_settlement',
       'writeoff_type_fraud_other', 'writeoff_type_repo', 'writeoff_type_null',
       'writeoff_date', 'due_account_2', 'due_account_3', 'due_account_4',
       'due_account_5', 'due_account_6', 'due_account_7', 'due_account_8',
       'due_balance_2', 'due_balance_3', 'due_balance_4', 'due_balance_5',
       'due_balance_6', 'due_balance_7', 'due_balance_8', 'snapshot',
       'mth_code', 'industry'],
      dtype='object')

In [48]:
d2=d2[r]

In [49]:
d2.shape

(19866, 66)