In [28]:
#package and library
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 1000)

# Training data (preprocessing)

In [29]:
df1 = pd.read_csv('training_data.csv')
df1.head()

/var/folders/c5/3sw9j_052v3bcylbyvj179m40000gn/T/ipykernel_20263/639268758.py:1: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('training_data.csv')

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,ever_delinquent_flg,nbr_mths_due,variable_rate_margin,stmt_balance,prev_balance,net_sales,net_payments,purchase_active,credit_limit_amt,credit_limit_pa,closed,active,charge_off,charge_off_aged,charge_off_bk,principal_amt,principal_amt_chrg_off,total_writeoff_amt,fee_chg_off_reversal_amt,net_finance_charge,non_principal_amount_gross,non_principal_amount_net,non_principal_amount_stmt,aged_writeoff_amt,bankruptcy_writeoff_amt,fc_reversals,fee_reversals,fraud_writeoff_amt,other_writeoff_amt,promo_bal_amt,recovery_amt,writeoff_type_bko,writeoff_type_fraud_kiting,writeoff_type_fraud_synthetic,writeoff_type_deceased,writeoff_type_other,writeoff_type_aged,writeoff_type_settlement,writeoff_type_fraud_other,writeoff_type_repo,writeoff_type_null,writeoff_date,due_account_2,due_account_3,due_account_4,due_account_5,due_account_6,due_account_7,due_account_8,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,P,0,0,I 0-6,1.0,581-600,NaN,3,1.0,0.0,0.0,NaN,34.77,1918.32,54.25,0.00,0.0,5900.0,2500.0,0,1,0,0,0,301.97,0.0,0.0,0.0,0.00,1045.23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201807,B
1,0.0,P,0,0,I 0-6,1.0,721-740,NaN,159,1.0,0.0,0.0,19.65,0.00,0.00,0.00,0.00,0.0,5000.0,11400.0,0,1,0,0,0,510.16,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1557.24,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201906,C
2,1.0,T,0,0,I 7-12,1.0,761+,NaN,22,1.0,0.0,0.0,19.65,0.00,0.00,0.00,104.00,0.0,3100.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,261.39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201905,A
3,1.0,T,0,1,I 0-6,1.0,761+,NaN,16,1.0,1.0,0.0,NaN,0.00,0.00,0.00,859.57,1.0,700.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,12.08,0.30,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201806,B
4,1.0,P,0,0,A,0.0,721-740,NaN,3,1.0,0.0,2.0,11.65,0.00,0.00,0.00,0.00,0.0,3500.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,0.00,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,960.00,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201902,B

In [30]:
df1.shape # before removing null values

(5758223, 69)

In [31]:
df1.isna().sum()

financial_active                       0
net_payment_behaviour_tripd            0
promotion_flag                         0
variable_rate_index                    0
account_status_code                    0
active_12_mths                         0
bank_fico_buckets_20                   0
charge_off_reason_code           5758209
mob                                    0
open_closed_flag                       4
ever_delinquent_flg                    0
nbr_mths_due                           0
variable_rate_margin             4208656
stmt_balance                           0
prev_balance                           0
net_sales                              0
net_payments                           0
purchase_active                        0
credit_limit_amt                       0
credit_limit_pa                        0
closed                                 0
active                                 0
charge_off                             0
charge_off_aged                        0
charge_off_bk                          0
principal_amt                          0
principal_amt_chrg_off                 0
total_writeoff_amt                     0
fee_chg_off_reversal_amt               0
net_finance_charge                156606
non_principal_amount_gross             0
non_principal_amount_net               0
non_principal_amount_stmt              0
aged_writeoff_amt                      0
bankruptcy_writeoff_amt                0
fc_reversals                           0
fee_reversals                          0
fraud_writeoff_amt                     0
other_writeoff_amt                     0
promo_bal_amt                          0
recovery_amt                           0
writeoff_type_bko                      0
writeoff_type_fraud_kiting             0
writeoff_type_fraud_synthetic          0
writeoff_type_deceased                 0
writeoff_type_other                    0
writeoff_type_aged                     0
writeoff_type_settlement               0
writeoff_type_fraud_other              0
writeoff_type_repo                     0
writeoff_type_null                     0
writeoff_date                    5728673
due_account_2                          0
due_account_3                          0
due_account_4                          0
due_account_5                          0
due_account_6                          0
due_account_7                          0
due_account_8                          0
due_balance_2                          0
due_balance_3                          0
due_balance_4                          0
due_balance_5                          0
due_balance_6                          0
due_balance_7                          0
due_balance_8                          0
snapshot                               0
mth_code                               0
industry                               0
dtype: int64

In [32]:
#removing na values if any, more than 30%


df_1=df1.dropna(axis=1)

print(df_1.shape)
df_1.head()

(5758223, 64)

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,mob,ever_delinquent_flg,nbr_mths_due,stmt_balance,prev_balance,net_sales,net_payments,purchase_active,credit_limit_amt,credit_limit_pa,closed,active,charge_off,charge_off_aged,charge_off_bk,principal_amt,principal_amt_chrg_off,total_writeoff_amt,fee_chg_off_reversal_amt,non_principal_amount_gross,non_principal_amount_net,non_principal_amount_stmt,aged_writeoff_amt,bankruptcy_writeoff_amt,fc_reversals,fee_reversals,fraud_writeoff_amt,other_writeoff_amt,promo_bal_amt,recovery_amt,writeoff_type_bko,writeoff_type_fraud_kiting,writeoff_type_fraud_synthetic,writeoff_type_deceased,writeoff_type_other,writeoff_type_aged,writeoff_type_settlement,writeoff_type_fraud_other,writeoff_type_repo,writeoff_type_null,due_account_2,due_account_3,due_account_4,due_account_5,due_account_6,due_account_7,due_account_8,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,P,0,0,I 0-6,1.0,581-600,3,0.0,0.0,34.77,1918.32,54.25,0.00,0.0,5900.0,2500.0,0,1,0,0,0,301.97,0.0,0.0,0.0,1045.23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201807,B
1,0.0,P,0,0,I 0-6,1.0,721-740,159,0.0,0.0,0.00,0.00,0.00,0.00,0.0,5000.0,11400.0,0,1,0,0,0,510.16,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1557.24,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201906,C
2,1.0,T,0,0,I 7-12,1.0,761+,22,0.0,0.0,0.00,0.00,0.00,104.00,0.0,3100.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,261.39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201905,A
3,1.0,T,0,1,I 0-6,1.0,761+,16,1.0,0.0,0.00,0.00,0.00,859.57,1.0,700.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.30,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201806,B
4,1.0,P,0,0,A,0.0,721-740,3,0.0,2.0,0.00,0.00,0.00,0.00,0.0,3500.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,960.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201902,B

In [33]:
r=list(df_1.columns)

In [34]:
#checking ratio of charge_off 1 and 0
print(list(df_1['charge_off']).count(0))
print(list(df_1['charge_off']).count(1))

5742525
15698

In [35]:
df_1.isna().sum()

financial_active                 0
net_payment_behaviour_tripd      0
promotion_flag                   0
variable_rate_index              0
account_status_code              0
active_12_mths                   0
bank_fico_buckets_20             0
mob                              0
ever_delinquent_flg              0
nbr_mths_due                     0
stmt_balance                     0
prev_balance                     0
net_sales                        0
net_payments                     0
purchase_active                  0
credit_limit_amt                 0
credit_limit_pa                  0
closed                           0
active                           0
charge_off                       0
charge_off_aged                  0
charge_off_bk                    0
principal_amt                    0
principal_amt_chrg_off           0
total_writeoff_amt               0
fee_chg_off_reversal_amt         0
non_principal_amount_gross       0
non_principal_amount_net         0
non_principal_amount_stmt        0
aged_writeoff_amt                0
bankruptcy_writeoff_amt          0
fc_reversals                     0
fee_reversals                    0
fraud_writeoff_amt               0
other_writeoff_amt               0
promo_bal_amt                    0
recovery_amt                     0
writeoff_type_bko                0
writeoff_type_fraud_kiting       0
writeoff_type_fraud_synthetic    0
writeoff_type_deceased           0
writeoff_type_other              0
writeoff_type_aged               0
writeoff_type_settlement         0
writeoff_type_fraud_other        0
writeoff_type_repo               0
writeoff_type_null               0
due_account_2                    0
due_account_3                    0
due_account_4                    0
due_account_5                    0
due_account_6                    0
due_account_7                    0
due_account_8                    0
due_balance_2                    0
due_balance_3                    0
due_balance_4                    0
due_balance_5                    0
due_balance_6                    0
due_balance_7                    0
due_balance_8                    0
snapshot                         0
mth_code                         0
industry                         0
dtype: int64

In [36]:
#min and max range
print(min(df_1['mth_code']))
print(max(df_1['mth_code']))

201801
201912

In [37]:
#datatype
df_1.dtypes

financial_active                 float64
net_payment_behaviour_tripd       object
promotion_flag                     int64
variable_rate_index                int64
account_status_code               object
active_12_mths                   float64
bank_fico_buckets_20              object
mob                                int64
ever_delinquent_flg              float64
nbr_mths_due                     float64
stmt_balance                     float64
prev_balance                     float64
net_sales                        float64
net_payments                     float64
purchase_active                  float64
credit_limit_amt                 float64
credit_limit_pa                  float64
closed                             int64
active                             int64
charge_off                         int64
charge_off_aged                    int64
charge_off_bk                      int64
principal_amt                    float64
principal_amt_chrg_off           float64
total_writeoff_amt               float64
fee_chg_off_reversal_amt         float64
non_principal_amount_gross       float64
non_principal_amount_net         float64
non_principal_amount_stmt        float64
aged_writeoff_amt                float64
bankruptcy_writeoff_amt          float64
fc_reversals                     float64
fee_reversals                    float64
fraud_writeoff_amt               float64
other_writeoff_amt               float64
promo_bal_amt                    float64
recovery_amt                     float64
writeoff_type_bko                  int64
writeoff_type_fraud_kiting         int64
writeoff_type_fraud_synthetic      int64
writeoff_type_deceased             int64
writeoff_type_other                int64
writeoff_type_aged                 int64
writeoff_type_settlement           int64
writeoff_type_fraud_other          int64
writeoff_type_repo                 int64
writeoff_type_null                 int64
due_account_2                    float64
due_account_3                    float64
due_account_4                    float64
due_account_5                    float64
due_account_6                    float64
due_account_7                    float64
due_account_8                    float64
due_balance_2                    float64
due_balance_3                    float64
due_balance_4                    float64
due_balance_5                    float64
due_balance_6                    float64
due_balance_7                    float64
due_balance_8                    float64
snapshot                           int64
mth_code                           int64
industry                          object
dtype: object

In [38]:
#get all the columns which are object and unique values
x1=[] #categorical columns
for i in df_1.columns:
    if df_1[i].dtypes=='object':
        print('Unique object datatype values for column',i,len(df_1[i].unique()))
        x1.append(i)

Unique object datatype values for column net_payment_behaviour_tripd 6
Unique object datatype values for column account_status_code 9
Unique object datatype values for column bank_fico_buckets_20 14
Unique object datatype values for column industry 3

# Testing data (forecasting) making columns same as the training data:

In [39]:
#removing columns where more than 30% of the data is missing
df2=pd.read_csv('forecast_starting_data.csv')
df2.head()

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,ever_delinquent_flg,nbr_mths_due,variable_rate_margin,stmt_balance,prev_balance,net_sales,net_payments,purchase_active,credit_limit_amt,credit_limit_pa,closed,active,charge_off,charge_off_aged,charge_off_bk,principal_amt,principal_amt_chrg_off,total_writeoff_amt,fee_chg_off_reversal_amt,net_finance_charge,non_principal_amount_gross,non_principal_amount_net,non_principal_amount_stmt,aged_writeoff_amt,bankruptcy_writeoff_amt,fc_reversals,fee_reversals,fraud_writeoff_amt,other_writeoff_amt,promo_bal_amt,recovery_amt,writeoff_type_bko,writeoff_type_fraud_kiting,writeoff_type_fraud_synthetic,writeoff_type_deceased,writeoff_type_other,writeoff_type_aged,writeoff_type_settlement,writeoff_type_fraud_other,writeoff_type_repo,writeoff_type_null,writeoff_date,due_account_2,due_account_3,due_account_4,due_account_5,due_account_6,due_account_7,due_account_8,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,T,0,0,I 0-6,1.0,761+,NaN,42,1.0,0.0,0.0,NaN,0.00,0.00,0.00,0.0,0.0,4500.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.0,0.0,411.63,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,B
1,0.0,P,0,0,A,1.0,761+,NaN,48,1.0,0.0,0.0,NaN,0.00,3519.68,133.47,75.0,0.0,1500.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.0,0.0,20.43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5012.0,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,B
2,0.0,C,0,0,I 0-6,0.0,761+,NaN,244,1.0,0.0,0.0,NaN,497.80,0.00,0.00,181.0,0.0,7300.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,A
3,1.0,R,0,0,I 0-6,1.0,621-640,NaN,76,1.0,0.0,0.0,19.65,0.00,0.00,0.00,0.0,0.0,1800.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,A
4,1.0,P,0,0,I 0-6,1.0,761+,NaN,143,1.0,0.0,0.0,NaN,430.09,0.00,0.00,0.0,0.0,6000.0,0.0,0,1,0,0,0,2943.69,0.0,0.0,0.0,2.0,28.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,C

In [40]:
#checking if the columns in training and testing match

len(set(df1.columns).difference(set(df2.columns)))==0
#if len is zero which indicates matching columns

True

In [41]:
print(r) # all the columns which are in the training data should exist in testing data

['financial_active', 'net_payment_behaviour_tripd', 'promotion_flag', 'variable_rate_index', 'account_status_code', 'active_12_mths', 'bank_fico_buckets_20', 'mob', 'ever_delinquent_flg', 'nbr_mths_due', 'stmt_balance', 'prev_balance', 'net_sales', 'net_payments', 'purchase_active', 'credit_limit_amt', 'credit_limit_pa', 'closed', 'active', 'charge_off', 'charge_off_aged', 'charge_off_bk', 'principal_amt', 'principal_amt_chrg_off', 'total_writeoff_amt', 'fee_chg_off_reversal_amt', 'non_principal_amount_gross', 'non_principal_amount_net', 'non_principal_amount_stmt', 'aged_writeoff_amt', 'bankruptcy_writeoff_amt', 'fc_reversals', 'fee_reversals', 'fraud_writeoff_amt', 'other_writeoff_amt', 'promo_bal_amt', 'recovery_amt', 'writeoff_type_bko', 'writeoff_type_fraud_kiting', 'writeoff_type_fraud_synthetic', 'writeoff_type_deceased', 'writeoff_type_other', 'writeoff_type_aged', 'writeoff_type_settlement', 'writeoff_type_fraud_other', 'writeoff_type_repo', 'writeoff_type_null', 'due_account_2', 'due_account_3', 'due_account_4', 'due_account_5', 'due_account_6', 'due_account_7', 'due_account_8', 'due_balance_2', 'due_balance_3', 'due_balance_4', 'due_balance_5', 'due_balance_6', 'due_balance_7', 'due_balance_8', 'snapshot', 'mth_code', 'industry']

In [42]:
df_2=df2[r] #this will ensure we have same columns in testinfg data as the training data
df_2.shape

(19866, 64)

In [43]:
#get all the columns which are object and unique values
x2=[]
for i in df_2.columns:
    if df_2[i].dtypes=='object':
        print('Unique object datatype values for column',i,len(df_2[i].unique()))
        x2.append(i)

Unique object datatype values for column net_payment_behaviour_tripd 6
Unique object datatype values for column account_status_code 7
Unique object datatype values for column bank_fico_buckets_20 14
Unique object datatype values for column industry 3

In [44]:
df11=df_1.copy()
df22=df_2.copy()

### We need to ensure that the columns created when making dummies for training data match the testing dataset as well

In [45]:
df1_num = pd.get_dummies(data=df11, columns=x1)

In [46]:
df1_num.shape

(5758223, 92)

In [47]:
df2_num = pd.get_dummies(data=df22, columns=x2)
df2_num.shape
#there are 2 columns less bcoz we had less unique values in the ccount_status_code

(19866, 90)

In [48]:
extra_cols=set(df1_num.columns).difference(set(df2_num.columns)) #these are the columsn which were mno t in the testing data
extra_cols

{'account_status_code_Clchange', 'account_status_code_MonthEnd'}

In [49]:
for i in extra_cols:
    df2_num[i]=[0]*len(df2_num)

In [50]:
df2_num.shape

(19866, 92)

In [75]:
df1_num['mth_code']

0          201807
1          201906
2          201905
3          201806
4          201902
            ...
5758218    201912
5758219    201912
5758220    201912
5758221    201912
5758222    201912
Name: mth_code, Length: 5758223, dtype: int64

In [52]:
df2_num

,financial_active,promotion_flag,variable_rate_index,active_12_mths,mob,ever_delinquent_flg,nbr_mths_due,stmt_balance,prev_balance,net_sales,net_payments,purchase_active,credit_limit_amt,credit_limit_pa,closed,active,charge_off,charge_off_aged,charge_off_bk,principal_amt,principal_amt_chrg_off,total_writeoff_amt,fee_chg_off_reversal_amt,non_principal_amount_gross,non_principal_amount_net,non_principal_amount_stmt,aged_writeoff_amt,bankruptcy_writeoff_amt,fc_reversals,fee_reversals,fraud_writeoff_amt,other_writeoff_amt,promo_bal_amt,recovery_amt,writeoff_type_bko,writeoff_type_fraud_kiting,writeoff_type_fraud_synthetic,writeoff_type_deceased,writeoff_type_other,writeoff_type_aged,writeoff_type_settlement,writeoff_type_fraud_other,writeoff_type_repo,writeoff_type_null,due_account_2,due_account_3,due_account_4,due_account_5,due_account_6,due_account_7,due_account_8,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,net_payment_behaviour_tripd_C,net_payment_behaviour_tripd_D,net_payment_behaviour_tripd_I,net_payment_behaviour_tripd_P,net_payment_behaviour_tripd_R,net_payment_behaviour_tripd_T,account_status_code_A,account_status_code_I 0-6,account_status_code_I 13-24,account_status_code_I 25+,account_status_code_I 7-12,account_status_code_Recovery,account_status_code_W,bank_fico_buckets_20_561-580,bank_fico_buckets_20_581-600,bank_fico_buckets_20_601-620,bank_fico_buckets_20_621-640,bank_fico_buckets_20_641-660,bank_fico_buckets_20_661-680,bank_fico_buckets_20_681-700,bank_fico_buckets_20_701-720,bank_fico_buckets_20_721-740,bank_fico_buckets_20_741-760,bank_fico_buckets_20_761+,bank_fico_buckets_20_<= 560,bank_fico_buckets_20_Exception,bank_fico_buckets_20_Missing,industry_A,industry_B,industry_C,account_status_code_MonthEnd,account_status_code_Clchange
0,1.0,0,0,1.0,42,0.0,0.0,0.00,0.00,0.00,0.0,0.0,4500.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,411.63,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
1,0.0,0,0,1.0,48,0.0,0.0,0.00,3519.68,133.47,75.0,0.0,1500.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,20.43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5012.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0
2,0.0,0,0,0.0,244,0.0,0.0,497.80,0.00,0.00,181.0,0.0,7300.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,1.0,0,0,1.0,76,0.0,0.0,0.00,0.00,0.00,0.0,0.0,1800.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,1.0,0,0,1.0,143,0.0,0.0,430.09,0.00,0.00,0.0,0.0,6000.0,0.0,0,1,0,0,0,2943.69,0.0,0.0,0.0,28.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19861,1.0,1,0,1.0,26,0.0,0.0,0.00,885.49,0.00,0.0,0.0,2500.0,0.0,0,1,0,0,0,2133.54,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1544.87,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1363.04,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
19862,0.0,1,0,1.0,299,0.0,0.0,3585.37,1107.10,0.00,0.0,0.0,6000.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0
19863,1.0,0,0,1.0,4,1.0,0.0,0.00,385.00,197.73,170.0,0.0,4500.0,12000.0,0,1,0,0,0,99.36,0.0,0.0,0.0,474.23,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0
19864,1.0,1,1,1.0,24,0.0,0.0,0.00,969.26,0.00,0.0,0.0,3500.0,0.0,0,1,0,0,0,2566.86,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
19865,0.0,1,0,0.0,19,0.0,0.0,861.00,0.00,0.00,0.0,0.0,4000.0,0.0,0,1,0,0,0,2417.48,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,236.90,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,202001,202001,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0

In [58]:
r=[]
for i in df1_num.columns:
    
    x=(df1_num['charge_off'].corr(df1_num[i]))
    if x<-0.3 or x>0.3:
        r.append(i)

In [68]:
df1_numx=df1_num[r+['mth_code']]
df2_numx=df2_num[r+['mth_code']]

In [84]:
result = pd.concat([df1,df2])

In [85]:
result.to_csv('result.csv',index=False)