In [7]:
#package and library
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 1000)

# Training data (preprocessing)

In [ ]:
df1 = pd.read_csv('training_data.csv')
df1.head()

/var/folders/c5/3sw9j_052v3bcylbyvj179m40000gn/T/ipykernel_18301/639268758.py:1: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('training_data.csv')

In [9]:
df1.shape # before removing null values

(5758223, 69)

In [10]:
df1.isna().sum()

financial_active                       0
net_payment_behaviour_tripd            0
promotion_flag                         0
variable_rate_index                    0
account_status_code                    0
active_12_mths                         0
bank_fico_buckets_20                   0
charge_off_reason_code           5758209
mob                                    0
open_closed_flag                       4
ever_delinquent_flg                    0
nbr_mths_due                           0
variable_rate_margin             4208656
stmt_balance                           0
prev_balance                           0
net_sales                              0
net_payments                           0
purchase_active                        0
credit_limit_amt                       0
credit_limit_pa                        0
closed                                 0
active                                 0
charge_off                             0
charge_off_aged                        0
charge_off_bk                          0
principal_amt                          0
principal_amt_chrg_off                 0
total_writeoff_amt                     0
fee_chg_off_reversal_amt               0
net_finance_charge                156606
non_principal_amount_gross             0
non_principal_amount_net               0
non_principal_amount_stmt              0
aged_writeoff_amt                      0
bankruptcy_writeoff_amt                0
fc_reversals                           0
fee_reversals                          0
fraud_writeoff_amt                     0
other_writeoff_amt                     0
promo_bal_amt                          0
recovery_amt                           0
writeoff_type_bko                      0
writeoff_type_fraud_kiting             0
writeoff_type_fraud_synthetic          0
writeoff_type_deceased                 0
writeoff_type_other                    0
writeoff_type_aged                     0
writeoff_type_settlement               0
writeoff_type_fraud_other              0
writeoff_type_repo                     0
writeoff_type_null                     0
writeoff_date                    5728673
due_account_2                          0
due_account_3                          0
due_account_4                          0
due_account_5                          0
due_account_6                          0
due_account_7                          0
due_account_8                          0
due_balance_2                          0
due_balance_3                          0
due_balance_4                          0
due_balance_5                          0
due_balance_6                          0
due_balance_7                          0
due_balance_8                          0
snapshot                               0
mth_code                               0
industry                               0
dtype: int64

In [11]:
#removing na values if any, more than 30%


df_1=df1.dropna(axis=1)

print(df_1.shape)
df_1.head()

(5758223, 64)

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,mob,ever_delinquent_flg,nbr_mths_due,stmt_balance,prev_balance,net_sales,net_payments,purchase_active,credit_limit_amt,credit_limit_pa,closed,active,charge_off,charge_off_aged,charge_off_bk,principal_amt,principal_amt_chrg_off,total_writeoff_amt,fee_chg_off_reversal_amt,non_principal_amount_gross,non_principal_amount_net,non_principal_amount_stmt,aged_writeoff_amt,bankruptcy_writeoff_amt,fc_reversals,fee_reversals,fraud_writeoff_amt,other_writeoff_amt,promo_bal_amt,recovery_amt,writeoff_type_bko,writeoff_type_fraud_kiting,writeoff_type_fraud_synthetic,writeoff_type_deceased,writeoff_type_other,writeoff_type_aged,writeoff_type_settlement,writeoff_type_fraud_other,writeoff_type_repo,writeoff_type_null,due_account_2,due_account_3,due_account_4,due_account_5,due_account_6,due_account_7,due_account_8,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,P,0,0,I 0-6,1.0,581-600,3,0.0,0.0,34.77,1918.32,54.25,0.00,0.0,5900.0,2500.0,0,1,0,0,0,301.97,0.0,0.0,0.0,1045.23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201807,B
1,0.0,P,0,0,I 0-6,1.0,721-740,159,0.0,0.0,0.00,0.00,0.00,0.00,0.0,5000.0,11400.0,0,1,0,0,0,510.16,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1557.24,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201906,C
2,1.0,T,0,0,I 7-12,1.0,761+,22,0.0,0.0,0.00,0.00,0.00,104.00,0.0,3100.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,261.39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201905,A
3,1.0,T,0,1,I 0-6,1.0,761+,16,1.0,0.0,0.00,0.00,0.00,859.57,1.0,700.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.30,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201806,B
4,1.0,P,0,0,A,0.0,721-740,3,0.0,2.0,0.00,0.00,0.00,0.00,0.0,3500.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,960.00,0.0,0,0,0,0,0,0,0,0,0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201902,B

In [12]:
r=list(df_1.columns)

In [13]:
#checking ratio of charge_off 1 and 0
print(list(df_1['charge_off']).count(0))
print(list(df_1['charge_off']).count(1))

5742525
15698

In [14]:
df_1.isna().sum()

financial_active                 0
net_payment_behaviour_tripd      0
promotion_flag                   0
variable_rate_index              0
account_status_code              0
active_12_mths                   0
bank_fico_buckets_20             0
mob                              0
ever_delinquent_flg              0
nbr_mths_due                     0
stmt_balance                     0
prev_balance                     0
net_sales                        0
net_payments                     0
purchase_active                  0
credit_limit_amt                 0
credit_limit_pa                  0
closed                           0
active                           0
charge_off                       0
charge_off_aged                  0
charge_off_bk                    0
principal_amt                    0
principal_amt_chrg_off           0
total_writeoff_amt               0
fee_chg_off_reversal_amt         0
non_principal_amount_gross       0
non_principal_amount_net         0
non_principal_amount_stmt        0
aged_writeoff_amt                0
bankruptcy_writeoff_amt          0
fc_reversals                     0
fee_reversals                    0
fraud_writeoff_amt               0
other_writeoff_amt               0
promo_bal_amt                    0
recovery_amt                     0
writeoff_type_bko                0
writeoff_type_fraud_kiting       0
writeoff_type_fraud_synthetic    0
writeoff_type_deceased           0
writeoff_type_other              0
writeoff_type_aged               0
writeoff_type_settlement         0
writeoff_type_fraud_other        0
writeoff_type_repo               0
writeoff_type_null               0
due_account_2                    0
due_account_3                    0
due_account_4                    0
due_account_5                    0
due_account_6                    0
due_account_7                    0
due_account_8                    0
due_balance_2                    0
due_balance_3                    0
due_balance_4                    0
due_balance_5                    0
due_balance_6                    0
due_balance_7                    0
due_balance_8                    0
snapshot                         0
mth_code                         0
industry                         0
dtype: int64

In [17]:
#min and max range
print(min(df_1['mth_code']))
print(max(df_1['mth_code']))

201801
201912

In [18]:
#datatype
df_1.dtypes

financial_active                 float64
net_payment_behaviour_tripd       object
promotion_flag                     int64
variable_rate_index                int64
account_status_code               object
active_12_mths                   float64
bank_fico_buckets_20              object
mob                                int64
ever_delinquent_flg              float64
nbr_mths_due                     float64
stmt_balance                     float64
prev_balance                     float64
net_sales                        float64
net_payments                     float64
purchase_active                  float64
credit_limit_amt                 float64
credit_limit_pa                  float64
closed                             int64
active                             int64
charge_off                         int64
charge_off_aged                    int64
charge_off_bk                      int64
principal_amt                    float64
principal_amt_chrg_off           float64
total_writeoff_amt               float64
fee_chg_off_reversal_amt         float64
non_principal_amount_gross       float64
non_principal_amount_net         float64
non_principal_amount_stmt        float64
aged_writeoff_amt                float64
bankruptcy_writeoff_amt          float64
fc_reversals                     float64
fee_reversals                    float64
fraud_writeoff_amt               float64
other_writeoff_amt               float64
promo_bal_amt                    float64
recovery_amt                     float64
writeoff_type_bko                  int64
writeoff_type_fraud_kiting         int64
writeoff_type_fraud_synthetic      int64
writeoff_type_deceased             int64
writeoff_type_other                int64
writeoff_type_aged                 int64
writeoff_type_settlement           int64
writeoff_type_fraud_other          int64
writeoff_type_repo                 int64
writeoff_type_null                 int64
due_account_2                    float64
due_account_3                    float64
due_account_4                    float64
due_account_5                    float64
due_account_6                    float64
due_account_7                    float64
due_account_8                    float64
due_balance_2                    float64
due_balance_3                    float64
due_balance_4                    float64
due_balance_5                    float64
due_balance_6                    float64
due_balance_7                    float64
due_balance_8                    float64
snapshot                           int64
mth_code                           int64
industry                          object
dtype: object

In [19]:
#get all the columns which are object and unique values
x1=[] #categorical columns
for i in df_1.columns:
    if df_1[i].dtypes=='object':
        print('Unique object datatype values for column',i,len(df_1[i].unique()))
        x1.append(i)

Unique object datatype values for column net_payment_behaviour_tripd 6
Unique object datatype values for column account_status_code 9
Unique object datatype values for column bank_fico_buckets_20 14
Unique object datatype values for column industry 3

# Testing data (forecasting) making columns same as the training data:

In [ ]:
#removing columns where more than 30% of the data is missing
df2=pd.read_csv('forecast_starting_data.csv')
df2.head()

In [21]:
#checking if the columns in training and testing match

len(set(df1.columns).difference(set(df2.columns)))==0
#if len is zero which indicates matching columns

True

In [22]:
print(r) # all the columns which are in the training data should exist in testing data

['financial_active', 'net_payment_behaviour_tripd', 'promotion_flag', 'variable_rate_index', 'account_status_code', 'active_12_mths', 'bank_fico_buckets_20', 'mob', 'ever_delinquent_flg', 'nbr_mths_due', 'stmt_balance', 'prev_balance', 'net_sales', 'net_payments', 'purchase_active', 'credit_limit_amt', 'credit_limit_pa', 'closed', 'active', 'charge_off', 'charge_off_aged', 'charge_off_bk', 'principal_amt', 'principal_amt_chrg_off', 'total_writeoff_amt', 'fee_chg_off_reversal_amt', 'non_principal_amount_gross', 'non_principal_amount_net', 'non_principal_amount_stmt', 'aged_writeoff_amt', 'bankruptcy_writeoff_amt', 'fc_reversals', 'fee_reversals', 'fraud_writeoff_amt', 'other_writeoff_amt', 'promo_bal_amt', 'recovery_amt', 'writeoff_type_bko', 'writeoff_type_fraud_kiting', 'writeoff_type_fraud_synthetic', 'writeoff_type_deceased', 'writeoff_type_other', 'writeoff_type_aged', 'writeoff_type_settlement', 'writeoff_type_fraud_other', 'writeoff_type_repo', 'writeoff_type_null', 'due_account_2', 'due_account_3', 'due_account_4', 'due_account_5', 'due_account_6', 'due_account_7', 'due_account_8', 'due_balance_2', 'due_balance_3', 'due_balance_4', 'due_balance_5', 'due_balance_6', 'due_balance_7', 'due_balance_8', 'snapshot', 'mth_code', 'industry']

In [23]:
df_2=df2[r] #this will ensure we have same columns in testinfg data as the training data
df_2.shape

(19866, 64)

In [24]:
#get all the columns which are object and unique values
x2=[]
for i in df_2.columns:
    if df_2[i].dtypes=='object':
        print('Unique object datatype values for column',i,len(df_2[i].unique()))
        x2.append(i)

Unique object datatype values for column net_payment_behaviour_tripd 6
Unique object datatype values for column account_status_code 7
Unique object datatype values for column bank_fico_buckets_20 14
Unique object datatype values for column industry 3

In [25]:
df11=df_1.copy()
df22=df_2.copy()

### We need to ensure that the columns created when making dummies for training data match the testing dataset as well

In [26]:
df1_num = pd.get_dummies(data=df11, columns=x1)

In [27]:
df1_num.shape

(5758223, 92)

In [28]:
df2_num = pd.get_dummies(data=df22, columns=x2)
df2_num.shape
#there are 2 columns less bcoz we had less unique values in the ccount_status_code

(19866, 90)

In [29]:
extra_cols=set(df1_num.columns).difference(set(df2_num.columns)) #these are the columsn which were mno t in the testing data
extra_cols

{'account_status_code_Clchange', 'account_status_code_MonthEnd'}

In [30]:
for i in extra_cols:
    df2_num[i]=[0]*len(df2_num)

In [31]:
df2_num.shape

(19866, 92)

In [40]:

for j in df1_num:
        #print(i,' ',j)
        i='charge_off'
        f=(df1_num[i].corr(df1_num[j]))
        
        if f>0.5 and i!=j:
            print(i,' ',j)
            print(f)
            print('-----------------------')

charge_off   charge_off_aged
0.9405717785465226
-----------------------
charge_off   principal_amt_chrg_off
0.6064422530319712
-----------------------
charge_off   total_writeoff_amt
0.6870568001048349
-----------------------
charge_off   fee_chg_off_reversal_amt
0.6839247790219926
-----------------------
charge_off   aged_writeoff_amt
0.6325975813623146
-----------------------
charge_off   fc_reversals
0.5299494138880887
-----------------------
charge_off   fee_reversals
0.8161220582798728
-----------------------
charge_off   writeoff_type_aged
0.8945252384062947
-----------------------

In [ ]:
df1

In [ ]:
train---24 cols 
make model