In [122]:
import pandas as pd

In [123]:
data = pd.read_csv('training_data.csv')

C:\Users\yash0\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (51) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [124]:
data.head()

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,...,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,P,0,0,I 0-6,1.0,581-600,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201807,B
1,0.0,P,0,0,I 0-6,1.0,721-740,NaN,159,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201906,C
2,1.0,T,0,0,I 7-12,1.0,761+,NaN,22,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201905,A
3,1.0,T,0,1,I 0-6,1.0,761+,NaN,16,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201806,B
4,1.0,P,0,0,A,0.0,721-740,NaN,3,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201902,B

In [125]:
data.columns

Index(['financial_active', 'net_payment_behaviour_tripd', 'promotion_flag',
       'variable_rate_index', 'account_status_code', 'active_12_mths',
       'bank_fico_buckets_20', 'charge_off_reason_code', 'mob',
       'open_closed_flag', 'ever_delinquent_flg', 'nbr_mths_due',
       'variable_rate_margin', 'stmt_balance', 'prev_balance', 'net_sales',
       'net_payments', 'purchase_active', 'credit_limit_amt',
       'credit_limit_pa', 'closed', 'active', 'charge_off', 'charge_off_aged',
       'charge_off_bk', 'principal_amt', 'principal_amt_chrg_off',
       'total_writeoff_amt', 'fee_chg_off_reversal_amt', 'net_finance_charge',
       'non_principal_amount_gross', 'non_principal_amount_net',
       'non_principal_amount_stmt', 'aged_writeoff_amt',
       'bankruptcy_writeoff_amt', 'fc_reversals', 'fee_reversals',
       'fraud_writeoff_amt', 'other_writeoff_amt', 'promo_bal_amt',
       'recovery_amt', 'writeoff_type_bko', 'writeoff_type_fraud_kiting',
       'writeoff_type_fraud_synthetic', 'writeoff_type_deceased',
       'writeoff_type_other', 'writeoff_type_aged', 'writeoff_type_settlement',
       'writeoff_type_fraud_other', 'writeoff_type_repo', 'writeoff_type_null',
       'writeoff_date', 'due_account_2', 'due_account_3', 'due_account_4',
       'due_account_5', 'due_account_6', 'due_account_7', 'due_account_8',
       'due_balance_2', 'due_balance_3', 'due_balance_4', 'due_balance_5',
       'due_balance_6', 'due_balance_7', 'due_balance_8', 'snapshot',
       'mth_code', 'industry'],
      dtype='object')

In [126]:
data.dtypes

financial_active               float64
net_payment_behaviour_tripd     object
promotion_flag                   int64
variable_rate_index              int64
account_status_code             object
                                ...
due_balance_7                  float64
due_balance_8                  float64
snapshot                         int64
mth_code                         int64
industry                        object
Length: 69, dtype: object

In [127]:
# data['Date'] = pd.to_datetime(data['mth_code'],format='%Y%m')
data['Date'] = pd.to_datetime(data['mth_code'].astype(str), format='%Y%m')

In [128]:
data['Date']

0         2018-07-01
1         2019-06-01
2         2019-05-01
3         2018-06-01
4         2019-02-01
             ...
5758218   2019-12-01
5758219   2019-12-01
5758220   2019-12-01
5758221   2019-12-01
5758222   2019-12-01
Name: Date, Length: 5758223, dtype: datetime64[ns]

Macro

In [129]:
macro_old = pd.read_csv('macro_data.csv', skiprows=4)
macro_old.head()

,Native Frequency,MONTHLY,MONTHLY.1,MONTHLY.2,MONTHLY.3,MONTHLY.4,ANNUAL,MONTHLY.5,MONTHLY.6,MONTHLY.7,...,MONTHLY.84,MONTHLY.85,MONTHLY.86,MONTHLY.87,MONTHLY.88,MONTHLY.89,MONTHLY.90,MONTHLY.91,MONTHLY.92,MONTHLY.93
0,Geography,United States,United States,United States,United States,United States,United States,United States,United States,United States,...,United States,United States,United States,United States,United States,United States,United States,United States,United States,United States
1,Last Updated,10/11/2022,10/11/2022,10/11/2022,10/11/2022,10/11/2022,10/10/2022,10/11/2022,10/11/2022,10/11/2022,...,6/9/2020,6/9/2020,6/9/2020,6/9/2020,6/9/2020,6/9/2020,6/9/2020,6/9/2020,2/8/2020,2/8/2020
2,Historical End Date,7/31/2022,8/31/2022,8/31/2022,8/31/2022,8/31/2022,12/31/2020,6/30/2022,6/30/2020,3/31/2022,...,12/31/2019,5/31/2020,4/30/2019,4/30/2020,5/31/2020,5/31/2020,9/30/2018,3/31/2020,9/30/2019,9/30/2019
3,1/31/2000,136.3844706,5715.426,2921.232,5,6542.87,29747.16297,9914.297967,79259.05028,51147.36716,...,4.562116475,110.434,78.90000153,8450.176371,1.3286,131.7539368,8.074702332,67.06213805,481.3313416,654.1137534
4,2/29/2000,136.1759165,5754.412,2965.596,4.5,6625.259,29943.16651,9989.058091,79784.01732,51287.26889,...,4.531454504,110.525,78.90000153,8531.737106,1.41475,140.055069,8.189753202,67.09304827,484.6490423,654.7960535

In [130]:
macro = macro_old.drop(['ANNUAL', 'QUARTERLY'], axis=1).rename(columns={'Native Frequency' : 'mth_code'})
macro = macro.loc[3:]
macro

,mth_code,MONTHLY,MONTHLY.1,MONTHLY.2,MONTHLY.3,MONTHLY.4,MONTHLY.5,MONTHLY.6,MONTHLY.7,MONTHLY.8,...,MONTHLY.84,MONTHLY.85,MONTHLY.86,MONTHLY.87,MONTHLY.88,MONTHLY.89,MONTHLY.90,MONTHLY.91,MONTHLY.92,MONTHLY.93
3,1/31/2000,136.3844706,5715.426,2921.232,5,6542.87,9914.297967,79259.05028,51147.36716,1228225.755,...,4.562116475,110.434,78.90000153,8450.176371,1.3286,131.7539368,8.074702332,67.06213805,481.3313416,654.1137534
4,2/29/2000,136.1759165,5754.412,2965.596,4.5,6625.259,9989.058091,79784.01732,51287.26889,1344621.002,...,4.531454504,110.525,78.90000153,8531.737106,1.41475,140.055069,8.189753202,67.09304827,484.6490423,654.7960535
5,3/31/2000,137.2389755,5777.722,2997.9,4.3,6686.521,10103.18366,80309.11267,51422.36774,1205440.653,...,4.376417323,110.863,78.40000153,8580.387368,1.55575,153.4450951,8.338543359,67.14436518,486.7486161,654.9681931
6,4/30/2000,138.1890277,5787.542,2949.972,4.8,6679.067,10177.38722,80643.86257,51553.75004,1081457.688,...,4.169691185,111.086,78.30000305,8569.820795,1.50575,150.4358788,8.469916135,67.21525484,487.5413765,654.1832063
7,5/31/2000,138.787406,5772.214,2954.412,4.8,6709.732,10265.08809,80969.88063,51677.16706,1286018.181,...,4.031345071,110.958,78.40000153,8610.546128,1.5264,150.6259583,8.509324568,67.29871821,486.9740224,651.8206747
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
430,8/31/2035,517.343026,24477.50421,10683.55223,5.850066485,30258.36203,44455.57687,272055.4718,138308.4502,1156101.347,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,9/30/2035,518.9847037,24562.9831,10715.48389,5.856203152,30357.61418,44603.62923,272841.9069,138661.205,1157886.296,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
432,10/31/2035,520.6395684,24648.90071,10747.43959,5.862511348,30457.45432,44752.64789,273634.1101,139016.3131,1159864.666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
433,11/30/2035,522.3014679,24734.91827,10779.51758,5.867732723,30557.72092,44902.08578,274426.9813,139373.9061,1161463.363,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
434,12/31/2035,523.9668129,24820.87659,10811.8076,5.871134198,30658.34089,45051.62167,275217.6797,139734.0124,1162302.654,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN