In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
pd.set_option('display.width', 1000)

In [2]:
df = pd.read_csv('training_data.csv')
df.head()

/var/folders/98/4w5bzj557j733_gyzdw052200000gn/T/ipykernel_17079/767595295.py:1: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('training_data.csv')

,financial_active,net_payment_behaviour_tripd,promotion_flag,variable_rate_index,account_status_code,active_12_mths,bank_fico_buckets_20,charge_off_reason_code,mob,open_closed_flag,ever_delinquent_flg,nbr_mths_due,variable_rate_margin,stmt_balance,prev_balance,net_sales,net_payments,purchase_active,credit_limit_amt,credit_limit_pa,closed,active,charge_off,charge_off_aged,charge_off_bk,principal_amt,principal_amt_chrg_off,total_writeoff_amt,fee_chg_off_reversal_amt,net_finance_charge,non_principal_amount_gross,non_principal_amount_net,non_principal_amount_stmt,aged_writeoff_amt,bankruptcy_writeoff_amt,fc_reversals,fee_reversals,fraud_writeoff_amt,other_writeoff_amt,promo_bal_amt,recovery_amt,writeoff_type_bko,writeoff_type_fraud_kiting,writeoff_type_fraud_synthetic,writeoff_type_deceased,writeoff_type_other,writeoff_type_aged,writeoff_type_settlement,writeoff_type_fraud_other,writeoff_type_repo,writeoff_type_null,writeoff_date,due_account_2,due_account_3,due_account_4,due_account_5,due_account_6,due_account_7,due_account_8,due_balance_2,due_balance_3,due_balance_4,due_balance_5,due_balance_6,due_balance_7,due_balance_8,snapshot,mth_code,industry
0,1.0,P,0,0,I 0-6,1.0,581-600,NaN,3,1.0,0.0,0.0,NaN,34.77,1918.32,54.25,0.00,0.0,5900.0,2500.0,0,1,0,0,0,301.97,0.0,0.0,0.0,0.00,1045.23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201807,B
1,0.0,P,0,0,I 0-6,1.0,721-740,NaN,159,1.0,0.0,0.0,19.65,0.00,0.00,0.00,0.00,0.0,5000.0,11400.0,0,1,0,0,0,510.16,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1557.24,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201906,C
2,1.0,T,0,0,I 7-12,1.0,761+,NaN,22,1.0,0.0,0.0,19.65,0.00,0.00,0.00,104.00,0.0,3100.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,261.39,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201905,A
3,1.0,T,0,1,I 0-6,1.0,761+,NaN,16,1.0,1.0,0.0,NaN,0.00,0.00,0.00,859.57,1.0,700.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,12.08,0.30,0.0,40.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0,0,0,0,0,0,0,0,0,1,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201806,B
4,1.0,P,0,0,A,0.0,721-740,NaN,3,1.0,0.0,2.0,11.65,0.00,0.00,0.00,0.00,0.0,3500.0,0.0,0,1,0,0,0,0.00,0.0,0.0,0.0,0.00,0.00,31.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,960.00,0.0,0,0,0,0,0,0,0,0,0,1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,201801,201902,B

In [3]:
df.isnull().sum()

financial_active                       0
net_payment_behaviour_tripd            0
promotion_flag                         0
variable_rate_index                    0
account_status_code                    0
active_12_mths                         0
bank_fico_buckets_20                   0
charge_off_reason_code           5758209
mob                                    0
open_closed_flag                       4
ever_delinquent_flg                    0
nbr_mths_due                           0
variable_rate_margin             4208656
stmt_balance                           0
prev_balance                           0
net_sales                              0
net_payments                           0
purchase_active                        0
credit_limit_amt                       0
credit_limit_pa                        0
closed                                 0
active                                 0
charge_off                             0
charge_off_aged                        0
charge_off_bk                          0
principal_amt                          0
principal_amt_chrg_off                 0
total_writeoff_amt                     0
fee_chg_off_reversal_amt               0
net_finance_charge                156606
non_principal_amount_gross             0
non_principal_amount_net               0
non_principal_amount_stmt              0
aged_writeoff_amt                      0
bankruptcy_writeoff_amt                0
fc_reversals                           0
fee_reversals                          0
fraud_writeoff_amt                     0
other_writeoff_amt                     0
promo_bal_amt                          0
recovery_amt                           0
writeoff_type_bko                      0
writeoff_type_fraud_kiting             0
writeoff_type_fraud_synthetic          0
writeoff_type_deceased                 0
writeoff_type_other                    0
writeoff_type_aged                     0
writeoff_type_settlement               0
writeoff_type_fraud_other              0
writeoff_type_repo                     0
writeoff_type_null                     0
writeoff_date                    5728673
due_account_2                          0
due_account_3                          0
due_account_4                          0
due_account_5                          0
due_account_6                          0
due_account_7                          0
due_account_8                          0
due_balance_2                          0
due_balance_3                          0
due_balance_4                          0
due_balance_5                          0
due_balance_6                          0
due_balance_7                          0
due_balance_8                          0
snapshot                               0
mth_code                               0
industry                               0
dtype: int64

In [4]:
df['mth_code'] = pd.to_datetime(df['mth_code'], format = '%Y%m', errors = 'coerce')

In [5]:
df['mth_code']

0         2018-07-01
1         2019-06-01
2         2019-05-01
3         2018-06-01
4         2019-02-01
             ...
5758218   2019-12-01
5758219   2019-12-01
5758220   2019-12-01
5758221   2019-12-01
5758222   2019-12-01
Name: mth_code, Length: 5758223, dtype: datetime64[ns]

In [6]:
df['charge_off'].value_counts()

0    5742525
1      15698
Name: charge_off, dtype: int64

In [7]:
df.groupby(df['mth_code'].dt.strftime('%B'))['charge_off'].sum().sort_values()

mth_code
January       760
February      931
March        1005
April        1071
May          1247
June         1263
July         1306
August       1352
September    1390
October      1669
November     1802
December     1902
Name: charge_off, dtype: int64

In [8]:
df.groupby('mth_code')['charge_off'].sum()

mth_code
2018-01-01       0
2018-02-01      78
2018-03-01     162
2018-04-01     206
2018-05-01     294
2018-06-01     362
2018-07-01     373
2018-08-01     431
2018-09-01     476
2018-10-01     617
2018-11-01     695
2018-12-01     716
2019-01-01     760
2019-02-01     853
2019-03-01     843
2019-04-01     865
2019-05-01     953
2019-06-01     901
2019-07-01     933
2019-08-01     921
2019-09-01     914
2019-10-01    1052
2019-11-01    1107
2019-12-01    1186
Name: charge_off, dtype: int64

In [9]:
df['mth_code'].unique()

array(['2018-07-01T00:00:00.000000000', '2019-06-01T00:00:00.000000000',
       '2019-05-01T00:00:00.000000000', '2018-06-01T00:00:00.000000000',
       '2019-02-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2019-12-01T00:00:00.000000000', '2019-01-01T00:00:00.000000000',
       '2018-05-01T00:00:00.000000000', '2018-10-01T00:00:00.000000000',
       '2018-03-01T00:00:00.000000000', '2019-07-01T00:00:00.000000000',
       '2019-11-01T00:00:00.000000000', '2018-09-01T00:00:00.000000000',
       '2018-11-01T00:00:00.000000000', '2019-03-01T00:00:00.000000000',
       '2019-09-01T00:00:00.000000000', '2019-08-01T00:00:00.000000000',
       '2018-04-01T00:00:00.000000000', '2019-04-01T00:00:00.000000000',
       '2018-08-01T00:00:00.000000000', '2018-01-01T00:00:00.000000000',
       '2019-10-01T00:00:00.000000000', '2018-02-01T00:00:00.000000000'],
      dtype='datetime64[ns]')

In [10]:
df['mth_code'].min()

Timestamp('2018-01-01 00:00:00')

In [11]:
df['mth_code'].max()

Timestamp('2019-12-01 00:00:00')

In [12]:
df.groupby('mth_code')['net_payment_behaviour_tripd'].count()

mth_code
2018-01-01     19858
2018-02-01     39706
2018-03-01     59462
2018-04-01     79115
2018-05-01     98714
2018-06-01    118195
2018-07-01    137595
2018-08-01    156979
2018-09-01    176303
2018-10-01    195573
2018-11-01    214642
2018-12-01    233739
2019-01-01    252813
2019-02-01    271309
2019-03-01    289615
2019-04-01    307703
2019-05-01    325685
2019-06-01    343615
2019-07-01    361628
2019-08-01    379557
2019-09-01    397415
2019-10-01    415313
2019-11-01    433026
2019-12-01    450663
Name: net_payment_behaviour_tripd, dtype: int64

In [13]:
df1 = df.copy()

In [14]:
df1.dtypes

financial_active                        float64
net_payment_behaviour_tripd              object
promotion_flag                            int64
variable_rate_index                       int64
account_status_code                      object
active_12_mths                          float64
bank_fico_buckets_20                     object
charge_off_reason_code                  float64
mob                                       int64
open_closed_flag                        float64
ever_delinquent_flg                     float64
nbr_mths_due                            float64
variable_rate_margin                    float64
stmt_balance                            float64
prev_balance                            float64
net_sales                               float64
net_payments                            float64
purchase_active                         float64
credit_limit_amt                        float64
credit_limit_pa                         float64
closed                                    int64
active                                    int64
charge_off                                int64
charge_off_aged                           int64
charge_off_bk                             int64
principal_amt                           float64
principal_amt_chrg_off                  float64
total_writeoff_amt                      float64
fee_chg_off_reversal_amt                float64
net_finance_charge                      float64
non_principal_amount_gross              float64
non_principal_amount_net                float64
non_principal_amount_stmt               float64
aged_writeoff_amt                       float64
bankruptcy_writeoff_amt                 float64
fc_reversals                            float64
fee_reversals                           float64
fraud_writeoff_amt                      float64
other_writeoff_amt                      float64
promo_bal_amt                           float64
recovery_amt                            float64
writeoff_type_bko                         int64
writeoff_type_fraud_kiting                int64
writeoff_type_fraud_synthetic             int64
writeoff_type_deceased                    int64
writeoff_type_other                       int64
writeoff_type_aged                        int64
writeoff_type_settlement                  int64
writeoff_type_fraud_other                 int64
writeoff_type_repo                        int64
writeoff_type_null                        int64
writeoff_date                            object
due_account_2                           float64
due_account_3                           float64
due_account_4                           float64
due_account_5                           float64
due_account_6                           float64
due_account_7                           float64
due_account_8                           float64
due_balance_2                           float64
due_balance_3                           float64
due_balance_4                           float64
due_balance_5                           float64
due_balance_6                           float64
due_balance_7                           float64
due_balance_8                           float64
snapshot                                  int64
mth_code                         datetime64[ns]
industry                                 object
dtype: object

In [15]:
df1['bank_fico_buckets_20'].value_counts()

761+         2082299
701-720       556912
681-700       548690
721-740       517257
661-680       507325
741-760       454088
641-660       413659
621-640       266710
601-620       154257
581-600        85608
<= 560         79110
561-580        53692
Missing        31194
Exception       7422
Name: bank_fico_buckets_20, dtype: int64

In [16]:
df1['net_payment_behaviour_tripd'].value_counts()

I    2234217
P    1897023
T     932200
R     420828
D     262233
C      11722
Name: net_payment_behaviour_tripd, dtype: int64

In [17]:
df1['account_status_code'].value_counts()

A           3512250
I 0-6        851687
I 13-24      595459
I 7-12       535423
I 25+        251312
W             10236
Recovery       1524
MonthEnd        330
Clchange          2
Name: account_status_code, dtype: int64

In [18]:
df1['writeoff_date'].value_counts()

2019-01-30    166
2018-11-19    143
2018-10-31    139
2019-07-31    135
2019-02-27    134
             ...
2018-03-29      1
2018-03-30      1
2018-05-10      1
2018-03-08      1
2016-07-20      1
Name: writeoff_date, Length: 669, dtype: int64

In [19]:
df1['industry'].value_counts()

B    3426334
A    1305509
C    1026380
Name: industry, dtype: int64

In [20]:
df1.drop('writeoff_date', axis=1, inplace=True)

In [21]:
obj = [x for x in df1.columns if df1[x].dtypes == 'O']

In [22]:
obj

['net_payment_behaviour_tripd',
 'account_status_code',
 'bank_fico_buckets_20',
 'industry']

In [23]:
df2 = df1.copy()
df2 = pd.get_dummies(data=df2, columns=obj)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
plt.figure(figsize=(20,20))
cor = df2.corr()
cor1 = cor[cor>0.5]
sns.heatmap(cor1, annot= True)

In [ ]:
def find_correlation(df, thresh=0.75):        
    corrMatrix = df.corr()
    corrMatrix.loc[:,:] =  np.tril(corrMatrix, k=-1)

    already_in = set()
    result = []

    for col in corrMatrix:
        perfect_corr = corrMatrix[col][corrMatrix[col] > thresh].index.tolist()
        if perfect_corr and col not in already_in:
            already_in.update(set(perfect_corr))
            perfect_corr.append(col)
            result.append(perfect_corr)


    select_nested = [f[1:] for f in result]
    select_flat = [i for j in select_nested for i in j]
    return select_flat

In [ ]:
find_correlation(df2)

In [ ]:
df2.drop(['snapshot',
 'charge_off_reason_code',
 'active',
 'fee_reversals',
 'writeoff_type_aged'], axis = 1, inplace=True)

In [ ]:
df3 = df2.copy()
df4 = df3.groupby('mth_code').sum()

In [ ]:
df4.shape

In [ ]:
df4.head()

In [ ]:
df5 = df4.reset_index()